.currentLocationWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  margin-top: 100px;
  flex-wrap: wrap;
  row-gap: 20px;
  &__icon {
    min-width: 150px;
    &-container {
      border: 2px solid grey;
      box-shadow: rgba(0, 0, 0, 0.75) 0rem 0.3125rem 0.9375rem;

      background-color: rgb(254, 183, 179);
      border-radius: 12px;
      min-width: 200px;
    }
  }
}
