.currentLocationWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  margin-top: 100px;
  border: 2px solid red;
  &__icon {
    border: 2px solid grey;
  }
}
